.javascript  {font-family:monospace;}
.javascript .imp {font-weight: bold; color: red;}
.javascript .kw1 {color: #000066; font-weight: bold;}
.javascript .kw2 {color: #003366; font-weight: bold;}
.javascript .kw3 {color: #000066;}
.javascript .co1 {color: #006600; font-style: italic;}
.javascript .co2 {color: #009966; font-style: italic;}
.javascript .coMULTI {color: #006600; font-style: italic;}
.javascript .es0 {color: #000099; font-weight: bold;}
.javascript .br0 {color: #009900;}
.javascript .sy0 {color: #339933;}
.javascript .st0 {color: #3366CC;}
.javascript .nu0 {color: #CC0000;}
.javascript .me1 {color: #660066;}
.javascript span.xtra { display:block; }
 
p.weighty {
 width: 310px;
 padding: 1em 20px;
 float: left;
 background-color: #fff;
 border: 4px solid #aaa;
 border-radius: 20px;
 -moz-border-radius: 20px;
}
ul.weighted {
 float: left;
 display: block;
 width: 280px;
 overflow: auto;
 padding: 20px;
 margin: 0 10px 20px 0;
 background-color: #fff;
 border: 4px solid #aaa;
 border-radius: 20px;
 -moz-border-radius: 20px;
}
ul.weighted li {
 display: inline;
}
ul.weighted li a {
 margin: 2px;
}
canvas#gradient {
 float: right;
 border:1px solid #000;
 margin: 2px 20px
}
